/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat","Montserrat Alternates", Arial, sans-serif;
    background-color: #030303; /* Light Gray Background */
    color: #fff; /* Dark Gray Text */
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px;
    margin: 0px 20px;
    background-color: #f0f0f0; /* Dark Background */
    color: white;
    border-radius: 8px;
}

header h1 {
    
    font-size: 4.5em;
    font-weight: 400;
    color: #070707; /* Red Title */
    letter-spacing: 10px;
}
header strong {
    font-family: "Bebas Neue", cursive, Arial, Helvetica, sans-serif;
    color: #ff1e1e;
    font-weight: 200;
}
header p {
    color: #000000;
    padding-top: -5px;
}

main {
    display: flex;
    justify-content: baseline;
    flex-wrap: nowrap;
}

.tab {
    max-width: 750px;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#customisation {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    
}

.tab h2 {
    margin-bottom: 0px;
}

/* #customisation button.editButton {
    margin-top: 0px;
    background-color: #333;
    color: #f0f0f0;
    border: 2px #ff1e1e solid;
} */

section {
    margin: 0px 10px 30px;
    min-width: 327px;
    max-width: min-content;
    min-height: 100px;

}

section label,h3 {

    margin: 8px;

}

button {
    font-family: "Montserrat","Montserrat Alternates", Arial, Helvetica, sans-serif;
    
}
input {
    font-family: "Montserrat","Montserrat Alternates", Arial, Helvetica, sans-serif;
}


.editButton {

color: #030303;
padding: 0px 8px;
margin: 5px 0px;
width: 100%;

}

label {
    display: inline;
    max-width: 80%;
}

section label, h3 {
    margin-left: 0px;
    margin-bottom: 2px;
}
.minimise {
   display: none;
   color: #fff;
}

#toggleBack {
    display: none; /* Reset in script */
}


h1 {
    font-family: "Bebas Neue", "Russo One", Arial, Helvetica, sans-serif;
    
}
h2 {
    color: #fff;
    font-size: 2em;
    font-family: "Montserrat", "Montserrat Alternates","Russo One", Arial, Helvetica, sans-serif;
   /* border-bottom: 2px solid #ff1e1e;*/ /* Red Section Titles */
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

.tab-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ff1e1e;
}

.tab-title button {
    font-family: "Montserrat","Montserrat Alternates", Arial, Helvetica, sans-serif, monospace;
    max-width: fit-content;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(187, 187, 187);
    border-radius: 3px;
    padding: 4px 6px;
    transition: 0.3s;
}

.tab-title button:hover {
    border-color: #ff1e1e;
}

label {
    display: block;
    font-size: 1.1em;
    margin: 8px;
    padding-top: 8px;
}

input {
    margin: 0;
}

input[type="range"] {
    width: 300px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #8d1e1e;
    cursor: pointer;
}

input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 1em;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 5px;
    transition: 0.3s;
}

input[type="file"]:hover,
select:hover {
    border-color: #ff1e1e; /* Red Border on Hover */
}

button.preset-option {
    padding: 10px 15px;
    margin: 5px;
    background-color: #ff1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.preset-option:hover {
    background-color: #cc0000;
}


#editPic {
    display: flex;
    flex-direction: row;
    
}

.pic-card-upload {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: row;
}
.pic-card-upload label {
    display: block;
    width: 100%;

}
.pic-card-upload input[type="file"] {
    display: block;
    max-width: 45%;

}

#card-preview {
    position: sticky;
    top: 18px;
}



#preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

#card {
    position: relative;
    width: 300px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    /* background-image: url(images/vecteezy_free-playing-card-back-vector_101503.svg);
    background-repeat: no-repeat; */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    z-index: 0;
}

#card img {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    object-fit: fill;
}



#card-front,
#card-back {
    position: absolute;
    width: 100%;
    top: 0px;
    display: none;
    padding: 20px;
    font-size: 1.5em;
    color: #333;
    transition: ease 0.1s;
    z-index: 999;
}

#card-front {
    background-color: rgba(255, 255, 255, 0.9);
    border: 6px solid #dddddd;
    border-radius: 10px;
    
    
}

#card-front:hover {
    font-size: 23px ;
    border: 10px solid #dddddd;
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
    transition: .1s;
    
}

#card-back {
    background-color: #ff1e1e;
    color: white;
    border: 6px solid rgba(200, 20, 20, 0.8);
    border-radius: 10px;
    
    
}

#transparency-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 101;
}


#card-back:hover {
    font-size: 23px ;
    border: 10px solid rgba(200, 20, 20, 1);
    padding: 16px;
    transition: .1s;
}


#card-image-back {
    height: 100%;
    border: solid;
    border-color: white;
    border-width: 8px;
    border-radius: 14px;
    z-index: 101;
    object-fit: fill;
}

#card-image {
    height: 100%;
    z-index: 99;
}



#card-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none white;
    border-width: 8px;
    border-radius: 30px;
    z-index: 998;
}

#front-layout {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 100;
    background-color: #fff;
    visibility: hidden;
    
}
#front-layout img {
    object-fit: contain;
   /* filter: grayscale(100%) brightness(1) contrast(1.1) sepia(1) hue-rotate(-50deg) saturate(6); */
}
#front-layout p {
    font-family: "Solway", Courier, 'Franklin Gothic Medium', 'Arial Narrow', serif;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.1;
    
}
#card .id-front-layout {
    display: flex;
}

.id-front-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bottom-right-id {
    
    flex-direction: column-reverse;
    min-width: 40px;
    max-width: 40px;
    
}
#top-left-id {
    min-width: 40px;
    max-width: 40px;
    
}
.bottom-right-class {
    transform: scale(-1, -1);
}


#card img.corner-suit {
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    max-width: 2.5em;
    max-height: 2.5em;
}
.classContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.icon-number {
    position: absolute; /* Allow the image to break free from the column's bounds */
    top: 0;
    left: 50%; /* Center the image horizontally */
    transform: translateX(0%); /* Adjust for centering */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Allow the width to expand freely */
}



.black-suit-color {
    color: #000;
}
.red-suit-color {
    color: #BC2024;
}

.joker-text {
    color: #000000;
}

/*8
#tally-layout {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 104;
    min-width: 204px;
} 
*/
#tally-layout {
    position: relative; /* Set as the positioning context for child elements */
    display: block; /* Prevent flexbox behavior */
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Constrain the layout within the parent */
    height: 100%; /* Ensure it spans the full height */
}

.icon-column {
    position: absolute; /* Allow columns to overlap */
    top: 0; /* Align columns to the top */
    height: 100%; /* Ensure columns span the full height */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Space icons vertically */
    align-items: center; /* Center icons horizontally */
}

#iconColumnLeft {
    left: 0%; /* Position the left column */
}

#iconColumnMiddle {
    left: 50%; /* Position the middle column */
    transform: translateX(-50%); /* Center the middle column */
}

#iconColumnRight {
    right: 0%; /* Position the right column */
}

#tally-layout img {
    position: relative;
    max-height: 6em;
    align-self: center;
    justify-content: center; /* Center horizontally */

}



#tally-layout img.icon-number {
    /* Make column icons exceed columns if larger */
    object-fit: cover;
    overflow: visible;
    /* */
    position: relative;
    max-height: 6em;
    height: 64px;
    padding-left: 2px;
    padding-right: 2px;
}


#tally-layout div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#tally-layout div#iconColumnMiddle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pictureCardLayout {
    visibility: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 102%;
    height: 100%;
    margin-left: -1%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
}
#pictureContainer.picture-card {
    height: 86%;
    /*background-color: white;*/
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#pictureContainer.borderless {
    border: none;
}

img#pictureImage {
    width: 100%;
    height: 100%;
    max-height: 50%;
    
}
img#pictureImage2 {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 50%;
    transform: scale(-1, -1);
    
}

#Icon-1.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
}
#Icon-2.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
}
#Icon-3.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    transform: scale(-1, -1);
}
#Icon-4.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    transform: scale(-1, -1);
}
#Icon-5.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    
}
#Icon-5b.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
}
#Icon-6.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    transform: scale(-1, -1);
}
#Icon-7.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
}
#Icon-8.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
}
#Icon-9.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    transform: scale(-1, -1);
}
#Icon-10.icon.tally-icon.icon-number {
    display: none;
    visibility: hidden;
    transform: scale(-1, -1);
}

#upload-buttons {
    display: flex;
    max-width: 100%;
    align-content: space-between;
}

#suit-selection {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.4em;
}
#suit-selection button {
    display: flex;
    height: 70px;
    width: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
#suit-selection button:hover {
    border-color: #ff1e1e;
    background-color: #dadada;
    
    transition: .3s;

}
#suit-selection button.selected {
    border-color: #ff1e1e;
    background-color: #ffe4e4;

}
#suit-selection button:nth-child(1) {
    color: #BC2024;
}
#suit-selection button:nth-child(2) {
    color: #BC2024;
}
#suit-selection button:nth-child(3) {
    color: black;
}
#suit-selection button:nth-child(4) {
    color: black;
}

#suit-selection button img {
    height: 20px;
}
.change-suit p {
    transform: rotate(-40deg);
}

#suitBtnImg {
    transform: scale(-1, -1);
}

#suit-selection button img:first-child {
    align-self: flex-start;
}

#suit-selection button img:last-child {
    align-self: flex-end;
}

#number-selection {
    display: flex;
    justify-content: space-around;
    margin-top: 20px ;
    padding: 10px;
}

.card-number-option button {
    padding: .5em;
    font-family: "Solway", Courier, monospace;
    font-weight: 400;
    
    border: 1px solid gainsboro;


}

.card-number-option button:hover {
    border-color: #ff1e1e;
    background-color: #dadada;
    transition: .2s;
}

.card-number-option button.selected {
    border-color: #ff1e1e;
    background-color: #ffe4e4;
}

#download-buttons {
    display: flex;
    justify-content: space-evenly;
}

.downloadBtn {
    padding: 10px 15px;
    margin: 5px;
    background-color: #ff1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.downloadBtn:hover { 
    background-color: #cc0000;

}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
}

footer p {
    font-size: 0.9em;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    main {
        padding: 15px;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 1.6em;
    }

    #card {
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 1276px) {
    
    main {
        justify-content: center;
    }

    #customisation {
        max-width: min-content;
    }
}



